/* @font-face {
  font-family:'tanseekModernProArabic';
  src:url(./font/tanseekModernProArabic.ttf);
}

body {
  margin: 0;
  font-family: "tanseekModernProArabic";
 /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
/* } */ 


